/*ブラウザ特有のCSSをあらかじめ削除しておく*/
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*リセットCSSとは、ブラウザ独自のデフォルトCSSに影響を受けて、レイアウトが崩れてしまわないようにするための制御です。*/

header{
  width: 90%;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
}

header .heading
{
  font-size: 32px;
}


.nav-list
{
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}

.nav-list-item
{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
/*メインビジュアルの指定。ヘッダーと同じく横幅いっぱい。高さは300pxで背景色をオレンジに設定*/
.main-visual
{
  width: 100%;
  height: 300px;
  background-color: orange;
}

/*メインビジュアルコンテンツの設定*/
.main-visual-content
{
  width: 350px;
  height: 300px;
  background-color: gold;
}
/*メインの設定。高さを広く、横幅は同じ。背景色をグリーンに指定*/
.main
{
  width: 840px;
/*高さと背景色の指定を解除*/
  display: flex;
  justify-content:center;
  margin: 0 auto;
}

/*ブログの範囲とサイドバーの設定.どちらもメインの子要素*/
.blog
{
  width: 600px;
  height: 1400px;
  background-color: limegreen;
}

.sidebar
{
  width: 240px;
  height: 1400px;
  background-color: palegreen;
}

footer
{
  width: 100%;
  height: 120px
}