/*ブラウザ特有のCSSをあらかじめ削除しておく*/
* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*リセットCSSとは、ブラウザ独自のデフォルトCSSに影響を受けて、レイアウトが崩れてしまわないようにするための制御です。*/

/*ヘッダーのCSS.横幅いっぱいで高さ指定。色はred*/
.header
{
  width: 100%;
  height:120px;
  background-color: red; 
  
}

/*ヘッダートップの設定*/
.header-top
{
  width: 100%;
  height: 70px;
  background-color: hotpink;
}

/*ヘッダーボトムの設定*/
.header-bottom
{
  width: 100%;
  height: 50px;
  background-color: pink;
}

/*メインビジュアルの指定。ヘッダーと同じく横幅いっぱい。高さは300pxで背景色をオレンジに設定*/
.main-visual
{
  width: 100%;
  height: 300px;
  background-color: orange;
}

/*メインビジュアルコンテンツの設定*/
.main-visual-content
{
  width: 350px;
  height: 300px;
  background-color: gold;
}
/*メインの設定。高さを広く、横幅は同じ。背景色をグリーンに指定*/
.main
{
  width: 840px;
/*高さと背景色の指定を解除*/
  display: flex;
  justify-content:center;
  margin: 0 auto;
}

/*ブログの範囲とサイドバーの設定.どちらもメインの子要素*/
.blog
{
  width: 600px;
  height: 1400px;
  background-color: limegreen;
}

.sidebar
{
  width: 240px;
  height: 1400px;
  background-color: palegreen;
}

/*フッターの設定。横幅同様高さ120px背景色ブルー*/
.footer
{
  width: 100%;
  height: 120px;
  background-color: blue;
}